body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #0033cc;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #002299;
}

code{
background-color: black;
color: #fff;
width: 90%;
padding: 15px;
display: block;
margin: 10px 20px 10px
}